body {
    background-color:#d77;
}
h1 {
    font-family:sans-serif;
    font-size:3em;

}
div {
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    border:1px solid black;
    border-radius:30px;
}

#header {
    position:relative;
    float:right;
    height:7em;
    width:98%;
    background-color:#d44;
    margin: 0 1% 0 1%;
    text-align:center;
}

#header img {
    position:relative;
    display:inline;
    float:left;
    width:50px;
    height:50px;
    top:50%;
    margin-top:-25px;
    margin-left:10px;
}

#header h1 {
    position:relative;
    display:inline;
    top:.5em;
}

#r_header {
    border:0px;
    float:right;
    width:20%;
}

.content {
    float:left;
    clear:right;
    height:700px;

}
#lsidebar {
    width:18%;
    background-color:#d77;
    margin-left:1%;
    margin-right:1%;
    border:0px;
}

#user_info {
    height:30%;
}

#followers {
    height:70%;

}
#posts {
    width:64%;
    margin:0 1% 0 0;
    background-color:#daa;
}

#rsidebar {
    width:14%;
    background-color:#dcc;
    margin-right:1%;
}

#footer {
    clear:both;
    width:98%;
    height:50px;
    margin-left:1%;
    margin-right:1%;
}

#footer p{
    vertical-align:middle;
}

#footer p:nth-child(1) {
    float:left;
}

#footer p:nth-child(2) {
    float:right;
}
